<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        <title>Med CV</title>
        <script> 
            function submitForm() { 
                document.getElementById("medForm").submit(); 
                window.location.href = "demogrphic.html"; // Replace with your target page 
            } 
        </script> 
    </head>
    <body>

        <h1>Med CV</h1>
        <p>Image Classify Diagnosis and Estimate Spend</p>
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                        <h3 class="mb-0">Estimated Cost and Diagnosis </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pl-lg-8">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-address">Likley Diagnosis</label>
                                    <input id="input-address" class="form-control" value="{{model.label}}" type="text" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-8">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-address">Expected Spend</label>
                                    <input id="input-address" class="form-control" value="{{model.score}}" type="text" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>